@page "/fetchdata"
@using CSharpSharedData;
@using Material.Blazor;

@inherits TimedComponentBase

<PageTitle>Weather forecast</PageTitle>

<div>
    <MBButton Label="@GroupedLabel" @onclick="@OnGroupClick" ButtonStyle="@MBButtonStyle.ContainedRaised" />
</div>
<MBGrid ColumnConfigurations="@ColumnConfigurations"
        GroupedOrderedData="@ForecastsGrouped"
        Group="true"
        HighlightSelectedRow="@true"
        KeyExpression="@(forecast => forecast.UniqueId.ToString())"
        Measurement="@MB_Grid_Measurement.Percent"
        TRowData="@WeatherForecast" />
